@import "../Variables/Variables.css";

.price-plan-form-group {
  width:480px;
  margin-left: 200px;
  border: 1px solid var(--color-neutral-300);
  border-radius: var(--border-radius-sm);
  padding: 20px;
}

.price-plan-form-group h6 {
    color: var(--color-neutral-1700);

    /* body/bold/lg */
    font-family: var(--font-family-primary);
    font-size: var(--font-size-lg);
    font-style: normal;
    font-weight: 600;
    line-height: var(--line-height-body-lg, 24px);
    /* 150% */
   
}

.price-plan-form-group p {
    color: var(--color-neutral-800);

    /* body/regular/lg */
    font-family: var(--font-family-primary);
    font-size: var(--font-size-lg, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--line-height-body-lg, 24px);
    /* 150% */
   
}

.price-plan-form-group label {
  color: var(--color-neutral-1400);

  /* body/semibold/md */
  font-family: var(--font-family-primary);
  font-size: var(--font-size-md);
  font-style: normal;
  font-weight: 600;
  line-height: var(--line-height-body-md);
  display: block;
  margin-bottom: 8px;
}


/* Flat Rate Specific Styles */
.flat-recurring-fee-select,
.flat-billing-frequency-select,
.flat-currency-select {
    width: 100%;
    padding: 8px 12px;
    font-size: var(--font-size-md);
    border: 1px solid var(--color-neutral-300);
    border-radius: var(--border-radius-sm);
    background-color: var(--color-neutral-100);
    outline: none;
    transition: border-color 0.2s ease;
    appearance: none;
    
}

