@import "../Variables/Variables.css";
.products-container {
  padding: 0 px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.hide-sidebar .sidebar {
  display: none;
}

.hide-sidebar .main-content {
  margin-left: 0;
  width: 100%;
}

.table th {
  padding: 12px 16px;
  border-right: 1px solid var(--color-neutral-200);
}

.table th:last-child {
  border-right: none;
}

.products-form-container {
  margin-top: 24px;
  position: relative;
  z-index: 1;
}

.form-container {
  background: pink;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: 24px auto;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--color-neutral-1000);
  font-weight: 500;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--color-neutral-200);
  border-radius: 4px;
  font-size: 1rem;
}

.form-buttons {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.submit-button,
.cancel-button {
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
}

.submit-button {
  background-color: var(--color-primary-600);
  color: white;
  border: none;
}

.cancel-button {
  background-color: white;
  color: var(--color-neutral-1000);
  border: 1px solid var(--color-neutral-200);
}

.products-breadcrumb {
  margin-left: 20rem;
  margin-bottom: 1rem;
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: var(--color-neutral-1000);
  margin-bottom: 14px;
  font-weight: 500;
  padding: 6px 0;
  background-color: var(--color-neutral-white);
  width: calc(100% - 20rem);
  height: 40px;
  border: 1px solid var(--color-neutral-200);
}

.breadcrumb-item {
  color: var(--color-neutral-1000);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-sm);
  font-weight: 400;
  margin-top: 10px;
  margin-left: 10px;
}

.breadcrumb-item a {
  color: var(--color-neutral-600);
  text-decoration: none;
}

.breadcrumb-item a:hover {
  color: var(--color-primary-600);
}

.breadcrumb-item a.active {
  color: var(--color-primary-800);
  font-weight: 600;
}

.breadcrumb-separator {
  color: var(--color-neutral-400);
  font-size: var(--font-size-sm);
}

.products-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.products-header h2 {
  margin-left: 20px;
  color: var(--color-neutral-1700);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-h4);
  font-style: normal;
  font-weight: 600;
  line-height: var(--line-height-heading-h4);
  margin-top: 0;
  margin-bottom: 8px;
  margin-left: 30px;
}

.products-actions {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  margin-top: 0;
  margin-bottom: 2px;
  margin-left: 400px;
}

.products-search {
  display: flex;
  align-items: center;
  width: 365px;
  height: 40px;
  background-color: var(--color-neutral-100);
  border: 1px solid var(--color-neutral-200);
  border-radius: var(--border-radius-sm);
  padding: 8px 12px;
  margin-top: 0;
  margin-bottom: 2px;
}

.products-search-input {
  flex: 1;
  border: none;
  background: none;
  color: var(--color-error-500);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-lg);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-body-lg);
  
}



.search-icon {
  width: 20px;
  height: 20px;
  color: var(--color-neutral-500);
  margin-right: 8px;
}

.new-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 164px;
  height: 40px;
   background-color:var(--color-primary-700);
  color: var(--color-neutral-white);
  padding: 8px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;

font-family: var(--font-family-primary);
font-size: var(--font-size-lg);
font-style: normal;
font-weight: 400; 
line-height: var(--line-height-body-lg);

}



.products-table {
  border-collapse: collapse;
  background-color: var(--color-neutral-white);
  border-radius: var(--border-radius-md);
  overflow: hidden;
  padding: 12px;
  width: 1000px;
  margin-left: 30px;
  margin-top: 4px;
  box-shadow: 0px 18px 54px 0px rgba(0, 0, 0, 0.07), 0px 2.254px 43.336px 0px rgba(0, 0, 0, 0.00);


}

.products-table th,
.products-table td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid var(--color-neutral-200);



}

.products-table td {
  overflow: hidden;
  color: var(--color-neutral-1000);

  font-family: var(--font-family-primary);
  font-size: var(--font-size-lg);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-body-lg);
}

.product-type-badge {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  color: white;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-lg);
  font-style: normal;
  font-weight: 600;
  line-height: var(--line-height-body-lg);
}

.product-type-badge--api {
  background-color: #D4923E;
  border-radius: 20px;
  padding: 4px 12px;
  height: 24px;
  color: var(--color-neutral-white);
}

.product-type-badge--flatfile {
  background-color: #7D44A0;
  border-radius: 20px;
  padding: 4px 12px;
  height: 24px;
  color: var(--color-neutral-white);
}

.product-type-badge--llmtoken {
  background-color: #38845A;
  border-radius: 20px;
  padding: 4px 12px;
  height: 24px;
  color: var(--color-neutral-white);
}

.product-type-badge--sqlresult {
  background-color: #804263;
  border-radius: 20px;
  padding: 4px 12px;
  height: 24px;
  color: var(--color-neutral-white);
}

.products-table th {
  background-color: var(--color-neutral-100);
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid var(--color-neutral-300);
  position: sticky;
  top: 0;
  z-index: 1;
  color: var(--color-neutral-600);

  font-family: var(--font-family-primary);
  font-size: var(--font-size-body-md);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-body-md);
}

.products-table tbody tr:hover {
  background-color: var(--grey-100);
}

.action-buttons {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  align-items: center;
  margin-right: 250px;
}

.edit-button {
  background-color: #e0f3ff;
  border: none;
  padding:6px;
  cursor: pointer;
 
  color: rgba(29, 122, 252, 1);
  border-radius: var(--border-radius-sm);
  width: 28px;
  height: 28px;
}

.delete-button {
  background-color: var(--color-error-100);
  border: none;
  color: var(--color-error-400);
  padding:6px;
 
  cursor: pointer;
  border-radius: var(--border-radius-sm);
  width:28px;
  height: 28px;
}

.loading,
.error {
  padding: 1rem;
  text-align: center;
  color: var(--color-neutral-600);
}

.error {
  color: var(--color-error-400);
}


.delete-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(2px);
}

.delete-modal-content {
  background: white;
  border-radius: 12px;
  padding: 24px;
  width: 512px;
  height: 212px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.delete-modal-header {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-modal-header h3 {
  font-size: 18px;
  font-weight: 600;
  color: #151312;
  margin: 0;
}

.delete-modal-body {
  margin-bottom: 24px;
  width: 512px;
  height: 212px;

}

.delete-modal-body p {
  color: var(--color-neutral-1000);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-lg);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-body-lg);
  text-align: center;
}

.delete-modal-body h5 {
  color: var(--color-neutral-1700);
  text-align: center;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-h5);
  font-style: normal;
  font-weight: 600;
  line-height: var(--line-height-heading-h5);

}

.warning-text {
  color: #dc3545;
  font-weight: 500;
  margin-top: 8px;
  font-size: 14px;
}

.delete-modal-footer {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

.delete-modal-cancel,
.delete-modal-confirm {
  padding: 10px 75px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}



.delete-modal-cancel {
  width: 222px;
  height: 40px;
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--color-neutral-600);
  color: var(--color-neutral-800);

  font-family: var(--font-family-primary);
  font-size: var(--font-size-lg);
  font-style: normal;
  font-weight: 600;
  line-height: var(--line-height-body-lg);
}


.delete-modal-confirm {
  width: 222px;
  height: 40px;
  border-radius: var(--border-radius-sm);
  background-color: var(--color-error-400);
  color: var(--color-neutral-white);

  font-family: var(--font-family-primary);
  font-size: var(--font-size-lg);
  font-style: normal;
  font-weight: 600;
  line-height: var(--line-height-body-lg);
}

.delete-modal-confirm:hover {
  background-color: #c22;
}

.notification-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  pointer-events: none;
  padding: 0 20px;
  box-sizing: border-box;
}

/* Main notification box */
.notification {
  padding: 20px;
  border-radius: var(--border-radius-lg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-out;
  animation: slideIn 0.3s ease-out forwards;
  width: auto;
  max-width: 366px;
  min-width: 366px;
  height: 92px;
  display: flex;
  align-items: flex-start;
  color: var(--color-neutral-1400);
  background: var(--surface-success, #CBE8DE);
  pointer-events: all;
  position: relative;
}

.notification.error {
  background: var(--color-error-100);
}

.notification.hide {
  animation: slideOut 0.3s ease-out forwards;
}

/* Icon wrapper */
.notification-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 1.875rem;
  background-color: var(--color-neutral-white);
  margin-right: 20px;
}

.notification.error .notification-icon {
  background: white;
}

.notification-icon svg {
  width: 24px;
  height: 24px;
  stroke: green;
}

.notification.error .notification-icon svg {
  stroke: white;
}

/* Notification text */
.notification-text {
  flex: 1;
}

.notification-text h5 {
  margin: 0;
  color: var(--color-neutral-1400);

  /* body/semibold/lg */
  font-family: var(--font-family-primary);
  font-size: var(--font-size-lg);
  font-style: normal;
  font-weight: 600;
  line-height: var(--line-height-body-lg);
  margin-bottom: 6px;
}

.notification-text p {
  margin: 0;
  color: var(--color-neutral-1400);

  /* body/regular/sm */
  font-family: var(--font-family-primary);
  font-size: var(--font-size-sm);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-body-sm);
}

.notification-details {
  font-size: 13px;
  color: var(--color-neutral-1200);
  font-weight: 500;
}

/* Animations */
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
